<div class="modal fade" id="exampleModalInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-keyboard="false" data-bs-backdrop="static">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <h1 class="text-center">{{temp.name}}</h1>
          <div class="row">
            <div class="col-9"><h4>FacilityType: {{temp.facilityType?.name}}</h4></div>
            <div class="col-9"><h4>Area: {{temp.area}}</h4></div>
            <div class="col-9"><h4>Cost: {{temp.cost}}</h4></div>
            <div class="col-9"><h4>Max People: {{temp.maxPeople}}</h4></div>
            <div class="col-9"><h4>Standard Room: {{temp.standardRoom}}</h4></div>
            <div class="col-9"><h4>Description Other Convenience: {{temp.descriptionOtherConvenience}}</h4></div>
            <div class="col-9"><h4>Pool Area: {{temp.poolArea}}</h4></div>
            <div class="col-9"><h4>Number Of Floors: {{temp.numberOfFloors}}</h4></div>
            <div class="col-9"><h4>Facility Free: {{temp.facilityFree}}</h4></div>
            <div class="col-9"><h4>Rent Type: {{temp.rentType?.name}}</h4></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
