<form [formGroup]="formCreate" (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" formControlName="name">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Date Of Birth</label>
    <input type="date" class="form-control" id="exampleInputPassword1" formControlName="dateOfBirth">
  </div>
  <div class="mb-3 form-check">
    <label class="form-check-label" for="exampleCheck1">Class Name</label>
    <select formControlName="className" id="exampleCheck1">
      <option value="">---Class---</option>
      <option *ngFor="let clazz of classList" [ngValue]="clazz">{{clazz.name}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
