<div class="mask d-flex align-items-center h-100 gradient-custom-3">

  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <button class="btn btn-outline-success m-3" [routerLink]="['']">
              Trở lại danh sách
            </button>
            <h2 class="text-uppercase text-center mb-5">Sửa bệnh án</h2>

            <form [formGroup]="formSua" (ngSubmit)="suaBenhAn()" *ngIf="formSua">

              <div class="form-outline mb-4">
                <label class="form-label">Mã bệnh án</label>
                <input type="text" readonly formControlName="maBenhAn" class="form-control form-control-lg"/>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Mã bệnh nhân</label>
                <input type="text" readonly formControlName="maBenhNhan" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Tên bệnh nhân</label>
                <span *ngIf="formSua.controls.tenBenhNhan.hasError('required')&&formSua.controls.tenBenhNhan.touched" style="color: red">  Không được để trống</span>
                <span *ngIf="formSua.controls.tenBenhNhan.hasError('pattern')&&formSua.controls.tenBenhNhan.touched" style="color: red">  Không được chứa ký tự số</span>
                <input type="text"formControlName="tenBenhNhan" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Ngày nhập viện</label>
                <span *ngIf="formSua.controls.ngayNhapVien.hasError('required')&&formSua.controls.ngayNhapVien.touched" style="color: red">  Không được để trống</span>
                <input type="date" formControlName="ngayNhapVien" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Ngày ra viện</label>
                <span *ngIf="formSua.controls.ngayRaVien.hasError('required')&&formSua.controls.ngayRaVien.touched" style="color: red">  Không được để trống</span>
                <input type="date" formControlName="ngayRaVien" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Lý do nhập viện</label>
                <span *ngIf="formSua.controls.lyDoNhapVien.hasError('required')&&formSua.controls.lyDoNhapVien.touched" style="color: red">  Không được để trống</span>
                <input type="text" formControlName="lyDoNhapVien" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Phương pháp điều trị</label>
                <span *ngIf="formSua.controls.phuongPhapDieuTri.hasError('required')&&formSua.controls.phuongPhapDieuTri.touched" style="color: red">  Không được để trống</span>
                <input type="text" formControlName="phuongPhapDieuTri" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Bác sĩ điều trị</label>
                <span *ngIf="formSua.controls.bacSiDieuTri.hasError('required')&&formSua.controls.bacSiDieuTri.touched" style="color: red">  Không được để trống</span>
                <input type="text" formControlName="bacSiDieuTri" class="form-control form-control-lg" />
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-success m-3">
                  Sửa
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
