<app-header></app-header>
<section class="vh-200 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">

    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <button class="btn btn-outline-success" [routerLink]="['/customer/list']">Customer List</button>
              <h2 class="text-uppercase text-center mb-5">Add Customer</h2>

              <form [formGroup]="formCreateCustomer" (ngSubmit)="submit()" *ngIf="formCreateCustomer">

                <input type="hidden" formControlName="id" >

                <div class="form-outline mb-4">
                  <label for="customerType">CustomerType</label>
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.name.hasError('required')) || formCreateCustomer.controls.customerType.hasError('required')&&formCreateCustomer.controls.customerType.touched">Không được để trống</span>
                  <select id="customerType" formControlName="customerType" class="form-select">
                    <option value="">---CustomerType---</option>
                    <option *ngFor="let c of customerTypes" [ngValue]="c" >{{c.name}}</option>
                  </select>
                </div>

                <div class="form-outline mb-4">
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.name.hasError('required')) || formCreateCustomer.controls.name.hasError('required')&&formCreateCustomer.controls.name.touched">Không được để trống</span>
                  <input type="text" class="form-control form-control-lg" formControlName="name"/>
                  <label class="form-label">Name</label>
                </div>

                <div class="form-outline mb-4">
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.customerCode.hasError('required')) || formCreateCustomer.controls.customerCode.hasError('required')&&formCreateCustomer.controls.customerCode.touched">Không được để trống</span>
                  <br>
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.customerCode.hasError('required')) || formCreateCustomer.controls.customerCode.hasError('pattern')&&formCreateCustomer.controls.customerCode.touched">Không đúng định dạng</span>
                  <input type="text" placeholder="KH-XXXX" class="form-control form-control-lg" formControlName="customerCode"/>
                  <label class="form-label">Code</label>
                </div>

                <div class="form-outline mb-4">
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.dateOfBirth.hasError('required')) ||  formCreateCustomer.controls.dateOfBirth.hasError('required')&&formCreateCustomer.controls.dateOfBirth.touched">Không được để trống</span>
                  <input type="date"  class="form-control form-control-lg"  formControlName="dateOfBirth"/>
                  <label class="form-label">Date Of Birth</label>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Gender:
                    <input type="radio" formControlName="gender" [value]=true style="margin-left: 15px"> Nam
                    <input type="radio" formControlName="gender" [value]=false style="margin-left: 15px"> Nữ
                  </label>
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.gender.hasError('required')) || formCreateCustomer.controls.gender.hasError('required')&&formCreateCustomer.controls.gender.touched">Không được để trống</span>
                </div>

                <div class="form-outline mb-4">
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.idCard.hasError('required')) || formCreateCustomer.controls.idCard.hasError('required')&&formCreateCustomer.controls.idCard.touched">Không được để trống</span>
                  <br>
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.idCard.hasError('required')) || formCreateCustomer.controls.idCard.hasError('pattern')&&formCreateCustomer.controls.idCard.touched">Không đúng định dạng</span>
                  <input type="text"class="form-control form-control-lg"  formControlName="idCard"/>
                  <label class="form-label">Id Card</label>
                </div>

                <div class="form-outline mb-4">
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.phoneNumber.hasError('required')) || formCreateCustomer.controls.phoneNumber.hasError('required')&&formCreateCustomer.controls.phoneNumber.touched">Không được để trống</span>
                  <br>
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.phoneNumber.hasError('required')) || formCreateCustomer.controls.phoneNumber.hasError('pattern')&&formCreateCustomer.controls.phoneNumber.touched">Không đúng định dạng</span>
                  <input type="text" class="form-control form-control-lg"  formControlName="phoneNumber"/>
                  <label class="form-label">Phone Number</label>
                </div>

                <div class="form-outline mb-4">
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.email.hasError('required')) || formCreateCustomer.controls.email.hasError('required')&&formCreateCustomer.controls.email.touched">Không được để trống</span>
                  <br>
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.email.hasError('email')) || formCreateCustomer.controls.email.hasError('email')&&formCreateCustomer.controls.email.touched">Không đúng định dạng</span>
                  <input type="text" placeholder="abczyz@gmail.com" class="form-control form-control-lg" formControlName="email"/>
                  <label class="form-label">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <span style="color: red" *ngIf="(clickButton && formCreateCustomer.controls.address.hasError('required')) || formCreateCustomer.controls.address.hasError('required')&&formCreateCustomer.controls.address.touched">Không được để trống</span>
                  <input type="text"  class="form-control form-control-lg" formControlName="address"/>
                  <label class="form-label">Address</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-outline-success">
                    Create
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
