<app-header></app-header>
<br>
<div class="row m-0">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <div class="card col-md-4" *ngFor="let item of facilities">
        <img  (click)="temp = item" data-bs-toggle="modal"
              data-bs-target="#exampleModalInfo"
          src="{{item.img}}"
          class="btn card-img-top" alt="..." style="height: 100%">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">Room size: {{item.area}}m2</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="row d-flex justify-content-center">
          <a class="btn btn-outline-success w-25 m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
             (click)="temp = item">
            Delete
          </a>
          <a class="btn btn-outline-success w-25 m-2" [routerLink]="['/facility/edit',temp.id]">
            Edit
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<!--Info-->
<app-info-facility [temp]="temp"></app-info-facility>


<!--modal delete-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <h3>Bạn có chắc muốn xóa thông tin của:</h3>
        <div class="row">
          <div class="col-9"><h4>{{temp.name}}</h4></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="deleteFacility()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<app-footer></app-footer>

